<%- include('partial/header') %>
<%- include('partial/navbar') %>
<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="/images/about.jpg" alt="First slide">
        </div>
    </div>
</div>
<div class="row mt-2 mb-2">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">About Us</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
</div>
<%- include('partial/footer') %>
      
