<div class="col-lg-3">
    <ul class="list-group">
        <li class="list-group-item active">User</li>
        <li class="list-group-item"><a href="/admin/adduser">Add User</a></li>
        <li class="list-group-item "><a href="/admin/alluser">All User</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">Doctor</li>
        <li class="list-group-item"><a href="/admin/adddoctor">Add Doctor</a></li>
        <li class="list-group-item "><a href="/admin/alldoctor">All Doctor</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">Service</li>
        <li class="list-group-item"><a href="/admin/addservice">Add Service</a></li>
        <li class="list-group-item "><a href="/admin/allservice"> All Service</a></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item active">Booking</li>
        <li class="list-group-item"><a href="/admin/addbooking">Add Booking</a></li>
        <li class="list-group-item "><a href="/admin/dashboard">All Booking</a></li>
    </ul>
</div>